html{
    background-color: black;
    height: auto;
}
body{
    background-color: black;
    height: auto;
}
.navbar{
    position: fixed !important;
    width: 100%;
}
header{
    background-color: black;
    color: rgb(255, 255, 255);
    height: 600px;
    text-align: center;
    margin-top: 0px;
}
h1{
    
    text-align: center;
    padding-top: 190px;
}
h2{
    padding-top: 10px;
    
}
.Sección1{
    height: 600px;
    padding-bottom: 30px;
    
}
.titulo{
    padding-top: 60px;
    text-align: right;
    margin-right: 25%;
    
}
.fotoperfil{
    width: 100%;
    margin-left: 0%;
    padding-left: 0%;
    padding-top: 20px;
}
.sobremi{
    font-size: medium;
    width: 95%;
    text-align: justify;
    padding-top: 100px;
}
.Sección2{
    height: 650px;
    /* padding-top: 50px; */
    background-color: black;
    color: aliceblue;
}
.ServTitulo{
    text-align: left;
    margin-left: 100px;
    padding-top: 100px;
}
.ServText{
    width: 50%;
    margin-left: 100px;

}
.Sección3{
    height: 600px;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
}
@media screen and (max-width:1000px) {
    .navbar{

    }
}